In [2]:
#Q1:
'''
ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron'''

for i in range(4):
    for j in range(i+1):
        print('ineuron',end = " ")
    print('\n')

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

In [14]:
#Q2
'''
        ineuron
    ineuron    ineuron
ineuron    ineuron    ineuron
    ineuron    ineuron
        ineuron

'''
for i in range(6):
    if i <= 3:
        n = i
    else:
        n = 6-i
    print(("ineuron "*n).center(50," "))

                     ineuron
                 ineuron ineuron
             ineuron ineuron ineuron
                 ineuron ineuron
                     ineuron

In [1]:
l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8}
     ,['ineuron','data science']]

In [4]:
'''Q3:

Try To Extraxt all the list entities'''
for i in l:
    if type(i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science']

In [5]:
'''Q4:
Try To Extract all the Dict enities
'''
for i in l :
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [6]:
'''Q5:
Try to Extract all the tuple entities
'''
for i in l:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [22]:
'''Q6:
Try to extract all the numerical data it may be a part of dictionary'''
k = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set : 
        for j in i:
            if type(j) == int:
                k.append(j)
                
    if type(i) == dict:
        for j in i:
            if type(j)== int or type(i[j]) == int:
                k.append(j)
                k.append(i[j])
print(k)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [18]:
k

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [23]:
'''ROUGH WORK'''
d = {'key':'value',3:4}

In [24]:
d

{'key': 'value', 3: 4}

In [25]:
d.items()

dict_items([('key', 'value'), (3, 4)])

In [27]:
d.keys()

dict_keys(['key', 3])

In [28]:
d.values()

dict_values(['value', 4])

In [37]:
'''Q7:
Try To give summation of all the numeric data
'''
sum = 0

for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set : 
        for j in i:
            if type(j) == int:
                sum=sum +j
                
                
    if type(i) == dict:
        for j in i:
            if type(j)== int or type(i[j]) == int:
                sum = sum + j + i[j]
print(sum)

156

In [19]:
k

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [23]:
'''Q8:
Try to filter out all the odd oddvalues out of all numeric datawhich is present in the list'''
m = []
for i in k:
    if i % 2 == 0:
        m.append(i)
print(m)

[2, 4, 2, 4, 6, 4, 6, 4, 6, 8]

In [44]:
'''Q9:
Try To Extract "ineuron" out of this data'''
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set : 
        for j in i:
            if type(i) == str:
                if i =="ineuron":
                    print(i)
    if type(i) == dict:
        for j in i:
            if type(j) == str or type(i[j])== str:
                if j == "ineuron" :
                    print(j)
                if i[j] == 'ineuron':
                    print(i[j])

ineuron

In [1]:
'''Q10:
Try to find out the occurances of all  the data
'''
l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8}
     ,['ineuron','data science']]

n = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set : 
        for j in i:
            if type(j) == int or type(j) == str:
                n.append(j)
                
    if type(i) == dict:
        for j in i:
                n.append(j)
                n.append(i[j])
print(n)
for i in set(n):
    print(i ,":",n.count(i))

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science']
1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
k2 : 1
8 : 1
sudh : 1
data science : 1
45 : 1
ineuron : 2
k3 : 1
23 : 1
k1 : 1
kumar : 1

In [33]:
'''Q11:
 Try to find out no. of keys in dictionary element'''
l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8}
     ,['ineuron','data science']]
for i in l:
    if type(i) == dict:
        print("No. of keys:",len(list(i.keys())))

No. of keys: 5

In [3]:
'''Q12:
Try to filter out all the string data'''
l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8}
     ,['ineuron','data science']]

n = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set : 
        for j in i:
            if type(j) == int or type(j) == str:
                n.append(j)
                
    if type(i) == dict:
        for j in i:
                n.append(j)
                n.append(i[j])
print(n)
String_data = []
for i in n :
    if type(i) == str:
        String_data.append(i)
print("String Data of dictionary :",String_data)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science']
String Data of dictionary : ['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'data science']

In [6]:
'''Q13:
Try to find alphanum in the data'''
l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8}
     ,['ineuron','data science']]
n = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set : 
        for j in i:
            if type(j) == int or type(j) == str:
                n.append(j)
                
    if type(i) == dict:
        for j in i:
                n.append(j)
                n.append(i[j])
print(n)
alpha_num = []
for i in n :
    if type(i) == str:
        if i.isalnum()== True:
            alpha_num.append(i)
print("Alpha Numeric Data :",alpha_num)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science']
Alpha Numeric Data : ['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron']

In [15]:
'''Q14:
Try to find out the multiplication of all the numeric values in the individual collection inside the dataset '''
l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8}
     ,['ineuron','data science']]
list_mul = 1
tup_mul = 1 
set_mul = 1
dict_mul = 1
for i in l:
    if type(i) == list:
        for j in i:
            if type(j) == int:
                list_mul = list_mul * j 
    if type(i) == tuple:
        for j in i:
            if type(j) == int:
                tup_mul = tup_mul * j
    if type(i) == set:
        for j in i:
            if type(j) == int:
                set_mul = set_mul * j
    if type(i) == dict:
        for j in i:
            if type(j) == int :
                dict_mul = dict_mul * j
            if type(i[j]) == int:
                dict_mul = dict_mul*i[j]
            
print('List data Multiplication:',list_mul)
print('Tuple data Multiplication:',tup_mul)
print('Set data Multiplication:',set_mul)
print('Dict data Multiplication:',dict_mul)

List data Multiplication: 24
Tuple data Multiplication: 1814400
Set data Multiplication: 20700
Dict data Multiplication: 1008

In [16]:
'''Q15:
Try To unwrap the collections present in the data into the flat list'''
l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{'k1':'sudh','k2':'ineuron','k3':'kumar',3:6,7:8}
     ,['ineuron','data science']]
n = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set : 
        for j in i:
            if type(j) == int or type(j) == str:
                n.append(j)
                
    if type(i) == dict:
        for j in i:
                n.append(j)
                n.append(i[j])
print(n)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science']